.About {
   
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 95%;
    padding-top: 10px;
    text-align: center;
    scroll-behavior: auto;
    
 }

 .About h2{
    opacity:1;
    font-family: Arial, Helvetica, sans-serif;
    font: 30px/1.0em 'opensans-bold', sans-serif;
    color: #000000;
    letter-spacing: -2px;
    margin: 0 auto 15px auto;
    text-shadow: none;

 }
 .About img{
     top: 0px;
     left: 10px;
        border-radius: 50%;
        width :10%;
        height:10%; 
 }
.About h3 {
    font-family: Arial, Helvetica, sans-serif;
    font: 18px/1.8em 'librebaskerville-regular', serif;
    color: #000000;
    margin: 0 auto;
    width: 70%;
    text-shadow: none;
    text-align: left;}
    

 

.Social {
    color: #000000;
    margin: 20px 0;
        padding: 0;
        font-size: 20px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
     }

.Social li {
        display: inline-block;
        margin: 0 10px;
        padding: 0;
        height:10px;
     }

    
.SocialLink :hover{
    
    opacity: 80%;
    
}
       
     